---
import { Image } from 'astro:assets';
const { event } = Astro.props;
---

<a
  href={`eventos/${event.slug}`}
  class="hover:shadow-md group rounded-2xl overflow-hidden min-w-[300px] aspect-[10/13] snap-center relative shrink-0"
>
  <!-- <div class="w-full h-full bg-white overflow-hidden"> -->
  <Image
    src={event.thumbnail}
    alt={event.name}
    width={294}
    height={388}
    class="object-cover group-hover:scale-[1.025] transition-transform duration-300 delay-75 rounded-2xl aspect-[10/13] w-full"
  />
  <div
    class="absolute inset-0 flex flex-col justify-end text-xl w-full text-white gap-y-4 bg-gradient-to-t from-black/60 via-semitransparent to-transparent px-6 py-4"
  >
    <div class="flex flex-col gap-y-2">
      <p class="text-base">{event.date}</p>
      <p class="text-lg font-bold">{event.name}</p>
      <p class="line-clamp-3 text-ellipsis">{event.abstract}</p>
    </div>
    <div
      class="self-end flex items-center gap-x-1 w-max font-medium text-base px-3 py-2 bg-semi-transparent rounded-lg backdrop-blur-sm"
    >
      <span>Leer más</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
      </svg>
    </div>
  </div>
</a>
