---
import { Image } from 'astro:assets';
const { event } = Astro.props;
---

<a
  href={`eventos/${event.slug}`}
  class="border-2 border-black hover:shadow-md group rounded"
>
  <div class="w-full max-h-[250px] bg-white overflow-hidden">
    <Image
      src={event.thumbnail}
      alt={event.name}
      width={420}
      height={120}
      class="object-cover group-hover:scale-[1.025] transition-transform duration-300 delay-75 w-full"
    />
  </div>

  <footer
    class="flex flex-col text-xl bg-white p-4 w-full border-t-2 border-black gap-y-4"
  >
    <div>
      <p class="text-sm">{event.date}</p>
      <p class="font-bold">{event.name}</p>
    </div>
    <div
      class="flex items-center gap-x-1 w-max rounded underline font-medium text-base hover:bg-opacity-80"
    >
      <span>Leer más</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
      </svg>
    </div>
  </footer>
</a>
