---
import { ViewTransitions } from 'astro:transitions';
import TheNavigationBar from '../components/TheNavigationBar.astro';
import TheFooter from '../components/TheFooter.astro';
import AsideMenu from '../components/AsideMenu.astro';

import '@fontsource-variable/red-hat-display';
import '@fontsource-variable/work-sans';

const { title, description } = Astro.props;
---

<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/ga24.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Fiestas Guájar Alto 2024</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://fiestasguajaralto2024.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=`${title} | Fiestas Guájar Alto 2024` />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://fiestasguajaralto2024.com/fiestas-guajar-alto-2024.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="fiestasguajaralto2024.com" />
    <meta property="twitter:url" content="https://fiestasguajaralto2024.com" />
    <meta name="twitter:title" content=`${title} | Fiestas Guájar Alto 2024` />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://fiestasguajaralto2024.com/fiestas-guajar-alto-2024.png"
    />

    <ViewTransitions />
  </head>
  <body class="h-full bg-white min-h-[100dvh]">
    <TheNavigationBar />
    <main class="min-h-full w-full flex flex-col">
      <slot />
    </main>
    <AsideMenu />
    <TheFooter />
  </body>
</html>
